<nav class="d-flex justify-content-center">
    <li class="nav-item">

        <div class="dropdown  text-dark">
            <a class="btn btn-outline-ligh dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="auth.isauth">پروفایل کاربر</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item text-dark">{{auth.user}}</a>
                <a class="dropdown-item text-dark" (click)="logout()">خارج شوید  </a>
            </div>
        </div>


    </li>
    <li class="nav-item">
        <a routerlink="./login" class="nav-link" (click)="login()" *ngIf="!auth.isauth" href="/login">ورود
</a>
        <span>/</span>
        <a routerlink="./register" class="nav-link" href="/register">عضویت </a>
    </li>
</nav>

<router-outlet></router-outlet>